@import '../../styles/mixins';

.about__storyline {
    background-color: black;
    padding: 100px 64px 32px;
    
    @include responsive-media-s {
        padding: 32px 32px;

    }

    h1 {
        font-size: 4rem;
        color: #8C1D1DCC;
        -webkit-text-stroke: 1px #DE8B8B;
        text-align: center;
    }

    &-itemsContainer {
        margin-top: 32px;
        justify-items: center;
        gap: 32px;

        @include responsive-media-m {
            display: flex;
            flex-direction: column;
        }

        &__items {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: space-between;
            align-items: center;

            p {
                color: #D5D0CA;
                font-size: 24px;
                text-align: center;
                width: 50%;

                @include responsive-media-m {
                    font-size: 20px;
                }

                @include responsive-media-s {
                    font-size: 18px;
                }

            }

        }
    }
}
