@import '../../styles/variables';
@import '../../styles/mixins';

   
.home {
  background-color: #161A20;
  background-image: linear-gradient(rgba(221, 214, 214, 0.171)), url("/heropic-edit.png"); 
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include respond-to($breakpoint-mobile) {
      padding: 0;
      height: 400px;
  }
  
  &__container {
    text-align: center;
  }

  &__title {
    color: #8C1D1D;
    font-size: clamp(48px, 10vw, 128px);  
    font-weight: 400;
    margin: 0;
  }

  &__subtitle {
    font-size: clamp(12px, 4vw, 32px); 
    font-weight: 400;
    color: #ffffffa7;
    margin-top: 1rem;

    &::after {
      content: 'THRALL';
    }

    @media (max-width: 800px) {
      &::after {
        content: 'ONE HELL OF A STUDIO';
        
      }
    }
  }
}
    