@import '../../styles/variables';

.home {
    background-color: #161A20;
    //background-image: linear-gradient(rgba(221, 214, 214, 0.171)), url("/heropic-edit.png"); 
    background-image: url("/heropic-edit.png");
    background-size: cover;
    background-position: center;

    justify-content: center;
    align-items: center;
    text-align: center;

    &__container {
        text-align: center;
        display: flex;
        height: 100vh;
        flex-direction: column;
        h1 {            
            color: #8C1D1D;
            font-size: clamp(48px, 10vw, 128px);  
            font-weight: 400;
            margin-top: 5rem;
        }
        h2 {
            font-size: clamp(12px, 4vw, 32px); 
            font-weight: 400;
            //color: #FFFFFF;
            margin-top: 1rem;
            color: #a4a3a3;
            //font-size: 2rem;
        }
        h3 {
            font-size: clamp(12px, 4vw, 32px); 
            font-weight: 700;
            color: #f1e8e8;
            gap: 1.5rem;
            margin-top: 10rem;
            //font-size: 5rem;
            justify-content: center;
            text-align: center;
            margin-left: 5rem;
            margin-right: 5rem;
        }    
    }
     
    @media (min-width: 768px) {
        padding: 0;
        height: 600px;
        justify-items: center;
        align-items: center;
        h3 {
           font-size: 1.4rem; 
        }
    }  

        @media (min-width: 1024px) {
        padding: 0;
        height: 100vh;
        justify-items: center;
        align-items: center;
        h3 {
          font-size: 1.9rem;
        }
    } 
       
        @media (max-width: 360px) {
        padding: 0;
        height: 600px;
        justify-items: center;
        align-items: center;
        h3 {
           font-size: 1rem; 
        }
    } 
}  

