.concept {
    font-family: var(--font-CD);
    background-color: #121010;
    text-align: center;
    padding:  2rem 0;

    &__title {
        font-size: 58px;
        color: #8C1D1DCC;
        -webkit-text-stroke: 1px #DE8B8B;
    }

    &__text {
        font-size: 24px;
        padding: 0 clamp(0rem, 10vw, 10rem);
        white-space: pre-line;
        color: #D5D0CA;
    }

    &__picture-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        padding: 2rem;
        gap: 30px;

        &__item {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width:900px) {
             grid-template-columns: 1fr;
        }
    }
}