html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

body{
  /*background:linear-gradient(rgba(53, 53, 53, 0.5), rgba(66, 66, 66, 0.5)), url('/heropic-edit.png');*/
  background-size: cover;       
  background-position: top;
  min-height: 100vh;
  background-color: black;
}

.topPadding  {
  padding-top: 80px;
}