@import '../../styles/mixins';

.footer {
    padding: 26px 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgb(6, 6, 6);

    &__title {
        color: white;
        font-size: 18px;
        font-weight: 300;
    }

    &__wrapper {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include responsive-media-ipad {
            flex-direction: column;
            gap: 24px;
        }

        &--creators {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &--introduction {
            color: white;

            p {
                display: list-item;
                font-size: 18px;
            }

            ul {
                padding-left: 1rem;

                li {
                    list-style: circle;
                    font-size: 18px;
                }
            }
        }

        &--icons {
            color: white;

            p {
                padding: 16px;
                font-size: 26px;
                font-weight: 600;
                color: red;
                border: solid 1px white;
            }
        }
    }

    &__copyright {
        color: white;
        text-align: center;
    }
}