@import '../../styles/mixins';
@import '../../styles/variables';

.navbar {
    @include centerflex;

    margin: 32px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-size: 32px;
    color: #CCC5C5;
    //background-color: black;
    //position: absolute;

    @include tablet {
        display: flex;
        justify-content: space-between;
    }
    @include mobile {
        margin: 32px 12px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 133px;

        @include tablet {
            display: none;
        }
    }
    &__links {
        color: #CCC5C5;
        text-decoration: none;
        &:hover {
            color: white;
        }
    } 
    &__download {
        color: red;
        &:hover {
            color: darkred; 
        }
    }
    
    &__burger {
        display: none;
        z-index: 1;
        @include tablet {
            display: flex;
        }

        svg {
            cursor: pointer;   
        }
    }

    &__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 100px 20px 20px;
        position: absolute;   
        top: 0;           
        right: 0;
        left: 0;
        background-color: #000000b1;
        z-index: -1;
        &.open {
            transform: translateX(0);
            pointer-events: auto;
        }
        @include tablet {
            display: flex;
        }
    }
}