@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import '../../styles/mixins';


.navbar {
    @include centerflex;
    padding-top: 100px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-size: 32px;
    color: #CCC5C5;
        @include mobile {
           display: flex;
           justify-content: space-between;
           padding-left: 50px;
           padding-right: 50px;
        }

    &__logo {
         @include mobile {
            display: none;
        }

    }

    
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 133px;
        @include mobile {
            background-color: red;
            display: none;
        }
        
    }
    
    &__links {
        color: #CCC5C5;
         text-decoration: none;

         &:hover {
            color: white;
         }
    }

    button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        
     }
}