@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

.play {
  background-color: #121010;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  /*font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;*/
}

.studio {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #ccc;
}

.wizard-img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 2rem;
  display: block;
}

.title {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.game-img {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  display: block;
}

.play-btn {
  background: none;
  border: none;
  color: #d32f2f;
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 400;
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
  text-transform: uppercase;
  transition: color 0.3s;

  &:hover {
    color: #ff4c4c;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .title {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .play-btn {
    font-size: 1.2rem;
  }
}  